.Task{
    position:absolute;
    top:40%;
    left:05%;
    right:71%;
    padding-left:30px;
    padding-bottom:30px;
  border: 5px dotted #000000; /* set the border of the div */
  border-color: #ff0000; /* set the color of the border */
}
body{
background-color:#87CEFA;
}
.halfCenter{
    padding-left:30px;
    padding-top:20px;
}
.Mid{
position:absolute;
top:20%;
left:40%;
padding-left:30px;
padding-bottom:400px;
padding-right:300px;
border:5px dotted #000000;
 border-color: #ff0000;
}
li:nth-child(even) {
 color: yellow;
}
li:nth-child(odd) {
color: lightgreen;
}
.small{
width:40%;
height:50px;
font-size: 22px;
 border-radius: 5px;
 margin:10px;
 border-color:green;
}
.smaller{
width:30%;
height:30px;
font-size: 18px;
padding: 15px 20px 10;
border-radius: 5px;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
cursor: pointer;
border-right:none;
border-left:none;
border-top:none;
 border-color: green;
}
.btn{
  position: absolute;
  left: calc(100% - 100px);
  height:10%;
}
li strong {
  font-size:30px;
}
header{
background-color:grey;
width:100%;
height:50px;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height:50px;
  background: linear-gradient(to bottom, #0088cc, #004466);
}
body {
  margin: 0;
  padding: 0;
}
.space{
padding:10px 20px;
}
a {
  padding: 10px;
}
