.Task{
    position:absolute;
    top:40%;
    left:05%;
    right:71%;
    padding-left:30px;
    padding-bottom:30px;
  border: 5px dotted #000000; /* set the border of the div */
  border-color: #ff0000; /* set the color of the border */
}
body{
background-color:skyblue;
}
.halfCenter{
    padding-left:30px;
    padding-top:20px;
}
.Mid{
position:absolute;
top:20%;
left:40%;
padding-left:30px;
padding-bottom:400px;
padding-right:300px;
border:5px dotted #000000;
 border-color: #ff0000;
}
li:nth-child(even) {
  background-color: yellow;
}
li:nth-child(odd) {
  background-color: lightgreen;
}
.small{
width:40%;
height:50px;
font-size: 22px;
 border-radius: 5px;
 margin:10px;
 border-color:green;
}
.smaller{
width:30%;
height:30px;
font-size: 18px;
padding: 15px 20px 10;
border-radius: 5px;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
cursor: pointer;
border-right:none;
border-left:none;
border-top:none;
 border-color: green;
}

